---
import { Debug } from 'astro:components'
import Base from '../../layouts/base.astro'
import {getCollection, render} from 'astro:content'

export async function getStaticPaths() {
	const onderzoeken = await getCollection('onderzoekBekijken')
	const infoPages = await getCollection('infoPages')

	return [...onderzoeken, ...infoPages]
		.map(page => {
			return {
				params: {id: page.id},
				props: {page}
			}
		})
}

const { page } = Astro.props
const { Content } = await render(page)
---

<ul>
	{page.data.keywords.map(keyword => <li>{keyword}</li>)}
</ul>

<Base>
	<Content />
</Base>

