.ma-navigation-bar {
  background-color: var(--ma-navigation-bar-background-color);
  display: flex;
  font-family: var(--ma-navigation-bar-font-family);
  font-size: var(--ma-navigation-bar-font-size);
  font-weight: var(--ma-navigation-bar-font-weight);
  line-height: var(--ma-navigation-bar-line-height);
}

.ma-navigation-bar__content {
  box-sizing: border-box;
  display: flex;
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: var(--ma-navigation-bar-content-max-inline-size);
  padding-block-end: var(--ma-navigation-bar-content-padding-block-end);
  padding-block-start: var(--ma-navigation-bar-content-padding-block-start);
  padding-inline-end: var(--ma-navigation-bar-content-padding-inline-end);
  padding-inline-start: var(--ma-navigation-bar-content-padding-inline-start);
}

.ma-navigation-bar__list {
  display: flex;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.ma-navigation-bar__item {
  --_ma-border-color: var(--ma-navigation-bar-item-border-color);
  --_ma-background-color: var(--ma-navigation-bar-item-background-color);
  --_ma-border-size: var(--ma-navigation-bar-item-border-block-start-width);
  --_ma-color: var(--ma-navigation-bar-item-color);
  --ma-focus-indicator-background-image: linear-gradient(
    var(--ma-navigation-bar-item-focus-visible-border-color)
      calc(var(--_ma-border-size) + var(--basis-focus-outline-width)),
    var(--ma-navigation-bar-item-focus-visible-background-color)
      calc(var(--_ma-border-size) + var(--basis-focus-outline-width))
  );

  background: linear-gradient(
    var(--_ma-border-color) var(--_ma-border-size),
    var(--_ma-background-color) var(--_ma-border-size)
  );
  box-sizing: border-box;
  color: var(--_ma-color);
  display: flex;
  min-block-size: var(--ma-navigation-bar-item-min-block-size);
  padding-block-end: var(--ma-navigation-bar-item-padding-block-end);
  padding-block-start: var(--ma-navigation-bar-item-padding-block-start);
  padding-inline-end: var(--ma-navigation-bar-item-padding-inline-end);
  padding-inline-start: var(--ma-navigation-bar-item-padding-inline-start);
  text-decoration: none;

  &[aria-current] {
    --_ma-border-color: var(--ma-navigation-bar-item-current-border-color);
    --_ma-background-color: var(--ma-navigation-bar-item-current-background-color);
    --_ma-color: var(--ma-navigation-bar-item-current-color);
  }

  /* The :hover styles need to be below the :focus styles */
  &:hover {
    --_ma-border-color: var(--ma-navigation-bar-item-hover-border-color);
    --_ma-background-color: var(--ma-navigation-bar-item-hover-background-color);
    --_ma-color: var(--ma-navigation-bar-item-hover-color);
  }

  &:active {
    --_ma-border-color: var(--ma-navigation-bar-item-active-border-color);
    --_ma-background-color: var(--ma-navigation-bar-item-active-background-color);
    --_ma-color: var(--ma-navigation-bar-item-active-color);
  }
}

@media (forced-colors: active) {
  .ma-navigation-bar__item:not([aria-current]) {
    border-block-start-style: initial;
    padding-block-start: var(--ma-navigation-bar-item-padding-block-start);
  }
}
