.ma-task-list {
  /* Tokens not yet available in the MA Theme */
  --ma-task-list-padding-block-start: var(--basis-space-block-sm);
  --ma-task-list-font-size: var(--utrecht-paragraph-font-size);
  --ma-task-list-icon-color: var(--basis-color-positive-color-default);
  --ma-task-list-icon-size: var(--basis-space-column-xl);
  --ma-task-list-item-column-gap: var(--basis-space-column-md);
  --ma-task-list-item-margin-block-end: var(--basis-space-block-xl);
  --ma-task-list-item-margin-block-start: var(--basis-space-block-sm);
  --ma-task-list-item-marker-background-color: white;
  --ma-task-list-item-marker-checked-background-color: inherit;
  --ma-task-list-item-marker-label-block-size: var(--basis-space-block-2xs);
  --ma-task-list-item-marker-label-inline-size: var(--basis-space-block-2xs);
  --ma-task-list-item-marker-label-margin-block: calc(var(--basis-space-block-2xs) * -1);
  --ma-task-list-item-marker-label-margin-inline: calc(var(--basis-space-block-2xs) * -1);
  --ma-task-list-item-marker-size: var(--basis-space-column-3xl);
  --utrecht-space-around: 0.4;
  --utrecht-icon-size: var(--ma-task-list-icon-size);

  list-style-type: none;
  padding-block-start: var(--ma-task-list-padding-block-start);
  padding-inline-start: 0;
}

.ma-task-list-item {
  align-items: baseline;
  column-gap: var(--ma-task-list-item-column-gap);
  display: flex;
  flex-direction: row;
  margin-block-end: var(--ma-task-list-item-margin-block-end);
  margin-block-start: var(--ma-task-list-item-margin-block-start);
}

.ma-task-list-item__marker {
  align-items: center;
  background-color: var(--ma-task-list-item-marker-backround-color);
  block-size: var(--ma-task-list-item-marker-size);
  border-radius: 50%;
  display: flex;
  inline-size: var(--ma-task-list-item-marker-size);
  justify-content: center;
  min-inline-size: var(--ma-task-list-item-marker-size);
  position: relative;
}

.ma-task-list-item__marker-label {
  block-size: var(--ma-task-list-item-marker-label-block-size);
  inline-size: var(--ma-task-list-item-marker-label-inline-size);
  margin-block: var(--ma-task-list-item-marker-label-margin-block);
  margin-inline: var(--ma-task-list-item-marker-label-margin-inline);
  overflow: hidden;
  padding-block: 0;
  padding-inline: 0;
  position: absolute;
}

.ma-task-list-item__marker--checked {
  --utrecht-icon-color: var(--ma-task-list-icon-color);

  background-color: var(--ma-task-list-item-marker-checked-background-color);
}
