section.ma-content-wrapper {
  --ma-section-gap: var(--basis-space-block-5xl);
  --ma-subsection-gap: var(--basis-space-block-3xl);
  --ma-content-gap: var(--basis-space-block-xl);

  margin-inline: auto;
  max-inline-size: var(--ma-max-page-content-width);
  padding-block: var(--ma-page-content-space-block);
  padding-inline: var(--ma-page-content-space-inline);

  & > * + * {
    margin-block-start: var(--ma-content-gap);
  }

  & :is(h2, h3) {
    margin-block-start: var(--ma-section-gap);
  }

  & h2 + h3,
  & h3 + h4 {
    margin-block-start: var(--ma-subsection-gap);
  }
}
