/* stylelint-disable selector-class-pattern -- Allow non nl-design-system classes in this file. */

.features {
  align-items: center;
  display: flex;
  padding-block: 2rem;
  padding-inline: 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
