/* stylelint-disable selector-class-pattern -- Allow non nl-design-system classes in this file. */

.features {
  align-items: center;
  display: flex;
  inline-size: 100%;
  padding-block: 2rem;
  padding-inline: 0;
}

.featureSvg {
  block-size: 200px;
  inline-size: 200px;
}
