.ma-card-as-link__container {
  container-name: ma-card;
  container-type: inline-size;
}

.ma-card-as-link {
  background-color: var(--ma-card-as-link-background-color);
  border-color: var(--ma-card-as-link-border-color);
  border-style: solid;
  border-width: var(--ma-card-as-link-border-width);
  column-gap: var(--ma-card-as-link-column-gap);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  padding-block-end: var(--ma-card-as-link-padding-block-end);
  padding-block-start: var(--ma-card-as-link-padding-block-start);
  padding-inline-end: var(--ma-card-as-link-padding-inline-end);
  padding-inline-start: var(--ma-card-as-link-padding-inline-start);
  position: relative;
  row-gap: var(--ma-card-as-link-row-gap);
  z-index: 0; /* create a new stacking context for the links ::after to lay on top of */

  @container ma-card (min-width: 400px) {
    --ma-card-as-link-padding-block-end: var(--ma-card-as-link-large-vw-padding-block-end);
    --ma-card-as-link-padding-block-start: var(--ma-card-as-link-large-vw-padding-block-start);
    --ma-card-as-link-padding-inline-end: var(--ma-card-as-link-large-vw-padding-inline-end);
    --ma-card-as-link-padding-inline-start: var(--ma-card-as-link-large-vw-padding-inline-start);
    --ma-card-as-link-theme-padding-inline-start: var(--ma-card-as-link-theme-large-vw-padding-inline-start);
  }

  & .ma-card-as-link__header {
    --nl-link-color: var(--ma-card-as-link-heading-color);
    --nl-link-active-color: var(--ma-card-as-link-heading-active-color);
    --nl-link-hover-color: var(--ma-card-as-link-heading-hover-color);
    --nl-heading-level-3-color: var(--ma-card-as-link-heading-color);

    grid-row-start: 1;

    &:has(:where(.nl-link:active)) {
      --nl-heading-level-3-color: var(--ma-card-as-link-heading-active-color);
    }

    &:has(:where(.nl-link:hover)) {
      --nl-heading-level-3-color: var(--ma-card-as-link-heading-hover-color);
    }

    & .nl-link {
      display: inline-block;
      max-inline-size: max-content;
    }

    /**
     * The ::after fills the whole card, making it clickable.
     * This works because the card root creates a new stacking context.
     * The position: absolute of this ::after is thus relative the the card
     */
    & .nl-link::after {
      content: "";
      display: block;
      inset: 0;
      position: absolute;
      z-index: 1;
    }
  }

  & .ma-card-as-link__description {
    grid-row-start: 2;
    max-inline-size: var(--ma-card-as-link-paragraph-max-inline-size);
  }

  & .ma-card-as-link__footer {
    grid-row-start: 3;
  }

  & .ma-card-as-link__metadata-list {
    display: flex;
    gap: var(--ma-card-as-link-metadata-list-column-gap);
    list-style: none;
    margin-block: 0;
    margin-inline: 0;
    padding-block: 0;
    padding-inline: 0;
  }

  & .ma-card-as-link__metadata {
    color: var(--ma-card-as-link-metadata-color);
    column-gap: var(--ma-card-as-link-metadata-column-gap);
    display: flex;
    font-family: var(--ma-card-as-link-metadata-font-family);
    font-size: var(--ma-card-as-link-metadata-font-size);
    font-weight: var(--ma-card-as-link-metadata-font-weight);
    line-height: var(--ma-card-as-link-metadata-line-height);
  }

  & .ma-card-as-link__metadata-icon {
    block-size: var(--ma-card-as-link-metadata-icon-size);
    inline-size: var(--ma-card-as-link-metadata-icon-size);
  }
}

.ma-card-as-link-theme {
  --ma-card-as-link-padding-inline-start: var(--ma-card-as-link-theme-padding-inline-start);

  grid-template-columns: var(--ma-card-as-link-icon-size) 1fr;

  & .ma-card-as-link__header {
    color: var(--nl-link-color);
    display: contents;
    grid-column-start: 2;
    grid-row-start: 1;

    &:has(:where(.nl-link:active)) {
      --nl-link-color: var(--ma-card-as-link-heading-active-color);
    }

    &:has(:where(.nl-link:hover)) {
      --nl-link-color: var(--ma-card-as-link-heading-hover-color);
    }
  }

  & .ma-card-as-link-theme__icon {
    grid-column-start: 1;
    grid-row-start: 1;
  }

  & .ma-card-as-link__description {
    grid-column-start: 2;
  }

  & .ma-card-as-link__footer {
    grid-column-start: 2;
  }
}
