.ma-card-list-theme {
  display: grid;

  &.ma-card-list-theme--columns-1 {
    grid-template-columns: 1fr;
  }

  &.ma-card-list-theme--columns-2 {
    grid-template-columns: repeat(auto-fill, minmax(260px, 500px));
  }
}
