/**
 * This component is a work in progress. It is not build according to the proper
 * specifications. Those specifications need to be discussed further, but due to
 * holidays, that has not happend yet. As such, this component is subject to
 * major change
 */
dl.ma-data-summary {
  column-gap: 1rem;
  margin-block: 0;
  position: relative;

  & dt {
    font-family: var(--basis-text-font-family-default);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    padding-block-end: 4px;
    padding-block-start: 12px;
  }

  & dd {
    font-family: var(--basis-text-font-family-default);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-inline: 0;
    padding-block-end: 12px;
    padding-block-start: 4px;
  }

  & > div::after,
  & > dd:not(:has(+ dd))::after {
    background-color: var(--basis-color-default-border-subtle);
    block-size: 1px;
    content: "";
    display: block;
    inline-size: 100%;
    inset-inline-start: 0;
    position: absolute;
    transform: translateY(11px);
  }

  & > div dd {
    display: inline;
  }

  & > div dd:not(:last-of-type)::after {
    content: ", " / "";
  }
}

dl.ma-data-summary.ma-data-summary--appearance-rows {
  display: grid;
  grid-template-columns: max-content 1fr;

  & * {
    grid-column-start: 2;
    padding-block-end: 12px;
    padding-block-start: 12px;
  }

  & > dt {
    grid-column-start: 1;
  }
}
