---
import { getCollection } from "astro:content";
const infoPages = await getCollection('infoPages')
const menu = await getCollection('menu', (item) => item.data.parent === undefined)

import Base from '../layouts/base.astro'
import MenuItem from '../components/menu-item.astro';

import { ColorSample as ColorSampleReact } from '@nl-design-system-candidate/color-sample-react'

import TestVue from '../components/vue/Test.vue'

import '@nl-design-system-candidate/code-block-css/code-block.css'
import '@rijkshuisstijl-community/design-tokens/dist/index.css'

const codeBlockContent = `
function addNumbers(a, b) {
	return a + b
}
`
---


<ul>
	{menu.map(item => (
		<li>
			<MenuItem id={item.id} />
		</li>
	))}
</ul>

<Base>
	<nav>
		<ul>
			{infoPages.map(page => (
				<li>
					<a href={`/docs/${page.id}`}>{page.data.title}</a>
				</li>
			))}
		</ul>
	</nav>

	<h2>Vue component</h2>
	<TestVue greeting="Hallo" />

	<h2>Web component</h2>
	<div class="rhc-theme">
	  <rhc-button>Ik ben een RHC Button</rhc-button>
	</div>

	<h2>Css component</h2>
	<pre dir="ltr" translate="no" class="nl-code-block">
		<code class="nl-code-block__code">
			{codeBlockContent}
		</code>
	</pre>

	<h2>React component</h2>
	<figure>
		<ColorSampleReact value="deeppink" />
		<figcaption>
			Roze
		</figcaption>
	</figure>
</Base>
