.ma-navigation-drawer {
  --ma-navigation-drawer-background-color: var(--basis-color-accent-1-inverse-bg-default);
  --ma-navigation-drawer-box-shadow: var(--basis-box-shadow-lg);
  --ma-navigation-drawer-min-inline-size: 312px;
  --ma-navigation-drawer-row-gap: var(--basis-space-row-xl);

  /* stylelint-disable-next-line unit-disallowed-list */
  --ma-navigation-drawer-slide-duration: 0.25s;

  background-color: var(--ma-navigation-drawer-background-color);
  block-size: 100vh;
  border: none;
  box-shadow: var(--ma-navigation-drawer-box-shadow);
  display: flex;
  flex-direction: column;
  inline-size: 100vw;
  margin-block: 0;
  margin-inline: 0;
  min-inline-size: var(--ma-navigation-drawer-min-inline-size);
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  padding-block: 0;
  padding-inline: 0;
  row-gap: var(--ma-navigation-drawer-row-gap);
  translate: 0 0 0;

  @media (prefers-reduced-motion: no-preference) {
    transition:
      translate var(--ma-navigation-drawer-slide-duration) ease-in,
      display var(--ma-navigation-drawer-slide-duration) ease-in allow-discrete;
  }

  @starting-style {
    translate: -100% 0 0;
  }

  &:not(:modal) {
    display: none;
    max-block-size: 100vh;
    transition-timing-function: ease-out;
    translate: -100% 0 0;
    z-index: 1;
  }

  &:modal {
    max-block-size: 100vh;
  }
}

.ma-navigation-drawer__header {
  --ma-navigation-drawer-header-background-color: var(--ma-navigation-drawer-background-color);
  --ma-navigation-drawer-header-border-color: var(--basis-color-accent-1-inverse-border-subtle);
  --ma-navigation-drawer-header-border-width: var(--basis-border-width-sm);
  --ma-navigation-drawer-header-column-gap: var(--basis-space-column-md);
  --ma-navigation-drawer-header-padding-block-end: var(--basis-space-block-md);
  --ma-navigation-drawer-header-padding-block-start: var(--basis-space-block-md);
  --ma-navigation-drawer-header-padding-inline-end: var(--basis-space-inline-md);
  --ma-navigation-drawer-header-padding-inline-start: 0px;

  background-color: var(--ma-navigation-drawer-header-background-color);
  border-block-end: 1px solid;
  border-color: var(--ma-navigation-drawer-header-border-color);
  border-width: var(--ma-navigation-drawer-header-border-width);
  column-gap: var(--ma-navigation-drawer-header-column-gap);
  display: flex;
  inset-block-start: 0;
  padding-block-end: var(--ma-navigation-drawer-header-padding-block-end);
  padding-block-start: var(--ma-navigation-drawer-header-padding-block-start);
  padding-inline-end: var(--ma-navigation-drawer-header-padding-inline-end);
  padding-inline-start: var(--ma-navigation-drawer-header-padding-inline-start);
  position: sticky;
  z-index: 1;
}

.ma-navigation-drawer__list {
  flex: 1;
  list-style: none;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  position: relative;

  /*
   * The ::before element makes the list 1px larger than the list parent, making
   * it always overflow. That in turn makes sure that the
   * overscroll-behavior-block: contain; always works and the page does not scroll
   * behind the open modal
   */
  &::before {
    block-size: calc(100% + 1px);
    content: "";
    display: block;
    inline-size: 100%;
    position: absolute;
    z-index: -1;
  }
}

.ma-navigation-drawer__item {
  box-sizing: border-box;
}
.ma-navigation-drawer__item a {
  --ma-navigation-drawer-item-background-color: var(--basis-color-transparent);
  --ma-navigation-drawer-item-color: var(--basis-color-action-1-inverse-color-default);
  --ma-navigation-drawer-item-column-gap: var(--basis-space-text-md);
  --ma-navigation-drawer-item-font-family: var(--basis-text-font-family-default);
  --ma-navigation-drawer-item-font-size: var(--basis-text-font-size-md);
  --ma-navigation-drawer-item-font-weight: var(--basis-text-font-weight-bold);
  --ma-navigation-drawer-item-line-height: var(--basis-text-line-height-md);
  --ma-navigation-drawer-item-min-block-size: var(--basis-pointer-target-min-block-size);
  --ma-navigation-drawer-item-padding-block-end: var(--basis-space-block-xl);
  --ma-navigation-drawer-item-padding-block-start: var(--basis-space-block-xl);
  --ma-navigation-drawer-item-padding-inline-end: var(--basis-space-inline-xl);
  --ma-navigation-drawer-item-padding-inline-start: var(--basis-space-inline-xl);
  --ma-navigation-drawer-item-icon-size: var(--basis-size-icon-md);
  --ma-navigation-drawer-item-border-inline-start-width: 0px;

  background: linear-gradient(
    to right,
    var(--ma-navigation-drawer-item-border-color) var(--ma-navigation-drawer-item-border-inline-start-width),
    var(--ma-navigation-drawer-item-background-color) var(--ma-navigation-drawer-item-border-inline-start-width)
  );
  box-sizing: border-box;
  color: var(--ma-navigation-drawer-item-color);
  column-gap: var(--ma-navigation-drawer-item-column-gap);
  display: flex;
  font-family: var(--ma-navigation-drawer-item-font-family);
  font-size: var(--ma-navigation-drawer-item-font-size);
  font-weight: var(--ma-navigation-drawer-item-font-weight);
  line-height: var(--ma-navigation-drawer-item-line-height);
  min-block-size: var(--ma-navigation-drawer-item-min-block-size);
  padding-block-end: var(--ma-navigation-drawer-item-padding-block-end);
  padding-block-start: var(--ma-navigation-drawer-item-padding-block-start);
  padding-inline-end: var(--ma-navigation-drawer-item-padding-inline-end);
  padding-inline-start: var(--ma-navigation-drawer-item-padding-inline-start);
  text-decoration: none;

  &:where([aria-current]) {
    --ma-navigation-drawer-item-current-background-color: var(--basis-color-action-1-inverse-bg-document);
    --ma-navigation-drawer-item-current-border-color: var(--basis-color-action-1-inverse-border-default);
    --ma-navigation-drawer-item-current-color: var(--basis-color-action-1-inverse-color-document);
    --ma-navigation-drawer-item-current-border-inline-start-width: var(--basis-border-width-lg);

    /* - */
    --ma-navigation-drawer-item-background-color: var(--ma-navigation-drawer-item-current-background-color);
    --ma-navigation-drawer-item-border-color: var(--ma-navigation-drawer-item-current-border-color);
    --ma-navigation-drawer-item-color: var(--ma-navigation-drawer-item-current-color);
    --ma-navigation-drawer-item-border-inline-start-width: var(
      --ma-navigation-drawer-item-current-border-inline-start-width
    );
  }

  &:where([aria-current]:focus-visible) {
    --ma-navigation-drawer-item-focus-visible-border-color: var(--basis-focus-color);
    --ma-navigation-drawer-item-focus-visible-background-color: var(--basis-focus-background-color);

    /* - */
    --ma-focus-indicator-background-image: linear-gradient(
      to right,
      var(--ma-navigation-drawer-item-focus-visible-border-color)
        calc(var(--ma-navigation-drawer-item-border-inline-start-width) + var(--basis-focus-outline-width)),
      var(--ma-navigation-drawer-item-focus-visible-background-color)
        calc(var(--ma-navigation-drawer-item-border-inline-start-width) + var(--basis-focus-outline-width))
    );
  }

  &:active {
    --ma-navigation-drawer-item-active-background-color: var(--basis-color-action-1-inverse-bg-active);
    --ma-navigation-drawer-item-active-border-color: var(--basis-color-action-1-inverse-border-active);
    --ma-navigation-drawer-item-active-color: var(--basis-color-action-1-inverse-color-active);

    /* - */
    --ma-navigation-drawer-item-background-color: var(--ma-navigation-drawer-item-active-background-color);
    --ma-navigation-drawer-item-border-color: var(--ma-navigation-drawer-item-active-border-color);
    --ma-navigation-drawer-item-color: var(--ma-navigation-drawer-item-active-color);
  }

  &:hover {
    --ma-navigation-drawer-item-hover-background-color: var(--basis-color-action-1-inverse-bg-hover);
    --ma-navigation-drawer-item-hover-border-color: var(--basis-color-action-1-inverse-border-hover);
    --ma-navigation-drawer-item-hover-color: var(--basis-color-action-1-inverse-color-hover);

    /* - */
    --ma-navigation-drawer-item-background-color: var(--ma-navigation-drawer-item-hover-background-color);
    --ma-navigation-drawer-item-border-color: var(--ma-navigation-drawer-item-hover-border-color);
    --ma-navigation-drawer-item-color: var(--ma-navigation-drawer-item-hover-color);
  }
}
