/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #323aa8;
  --ifm-color-primary-dark: #21288d;
  --ifm-color-primary-darker: #2a2f67;
  --ifm-color-primary-darkest: #272b63;
  --ifm-color-primary-light: #313bc9;
  --ifm-color-primary-lighter: #3c47da;
  --ifm-color-primary-lightest: #5c66f1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Source Sans Pro";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans";
}

code,
pre {
  font-family: "Fira Code";
}

.navbar__title {
  font-family: "Fira Sans";
  font-size: 20px;
}
