/* Styles from used components */
@import "@utrecht/root-css/dist/index.css";
@import "@utrecht/body-css/dist/index.css";
@import "@utrecht/heading-group-css/dist/index.css";
@import "@nl-design-system-candidate/heading-css/heading.css";
@import "@nl-design-system-candidate/paragraph-css/paragraph.css";
@import "@nl-design-system-candidate/link-css/link.css";

.ma-theme {
  /* @TODO: When this value is included in ma-design-tokens, remove thise lines */
  --basis-color-accent-1-color-default: var(--ma-color-paars-10);
  --ma-page-footer-background-color: var(--ma-color-neutral-12);

  /* Site specific tokens not found in ma-design-tokens */
  --ma-logo-color: var(--basis-color-accent-1-color-default);

  /* The maximum width of the page grid */
  --ma-max-page-width: 1280px;

  /* The maximum width of elements containing content. Usually the padding of
   * these elements limit the with of the actual content further */
  --ma-max-page-content-width: 848px;
}
