.ma-body-copy {
  --ma-body-copy-max-inline-size: 65ch;
  --ma-body-copy-small-max-inline-size: 55ch;
  --ma-body-copy-large-max-inline-size: 75ch;

  display: contents;

  & > .utrecht-blockquote,
  & > .nl-heading,
  & > .utrecht-ordered-list,
  & > .nl-paragraph,
  & > .nl-code-block,
  & > .utrecht-unordered-list {
    max-inline-size: var(--ma-body-copy-max-inline-size);
  }

  & > .nl-heading--level-2 {
    max-inline-size: 40ch;
  }

  & > .nl-heading--level-3 {
    max-inline-size: 50ch;
  }

  & > .utrecht-separator {
    inline-size: 100%;
  }

  &.ma-body-copy__small {
    --ma-body-copy-max-inline-size: var(--ma-body-copy-small-max-inline-size);
  }

  &.ma-body-copy__large {
    --ma-body-copy-max-inline-size: var(--ma-body-copy-large-max-inline-size);
  }
}
