.ma-body-copy {
  --ma-body-copy-max-inline-size: 65ch;
  --ma-body-copy-small-max-inline-size: 55ch;
  --ma-body-copy-large-max-inline-size: 75ch;

  display: contents;

  & > * {
    max-inline-size: var(--ma-body-copy-max-inline-size);
  }

  &.ma-body-copy__small {
    --ma-body-copy-max-inline-size: var(--ma-body-copy-small-max-inline-size);
  }

  &.ma-body-copy__large {
    --ma-body-copy-max-inline-size: var(--ma-body-copy-large-max-inline-size);
  }
}
