.ma-center-column-layout {
  --ma-center-column-layout-content-max-inline-size: 1024px;
  --ma-center-column-layout-margin-block-start: var(--basis-space-block-4xl);
  --ma-center-column-layout-margin-block-end: var(--basis-space-block-6xl);
  --ma-center-column-layout-padding-inline-start: var(--basis-space-inline-xl);
  --ma-center-column-layout-padding-inline-end: var(--basis-space-inline-xl);
  --ma-center-column-layout-gap: var(--basis-space-block-xl);

  padding-block-end: var(--ma-center-column-layout-margin-block-end);
  padding-block-start: var(--ma-center-column-layout-margin-block-start);
}

.ma-center-column-layout__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: var(--ma-center-column-layout-gap);
  inline-size: 100%;
  margin-inline: auto;
  max-inline-size: var(--ma-center-column-layout-content-max-inline-size);
  padding-inline-end: var(--ma-center-column-layout-padding-inline-end);
  padding-inline-start: var(--ma-center-column-layout-padding-inline-start);
}
