/* Add a solid colour (same as ma-site-footer background) behind the body to prevent white as the overscroll colour  */
html.ma-theme::after {
  background-color: var(--ma-page-footer-background-color);
  block-size: 50%;
  content: "";
  display: block;
  inline-size: 100%;
  inset-block-end: 0;
  position: fixed;
  z-index: -1;
}

body {
  background-color: var(--basis-root-background-color);
  display: flex;
  flex-direction: column;
}

main {
  background-color: inherit;
  flex: 1;
}
